@inherits InputBase<string>
<div class="mb-3">
    <label for="name" class="form-label">Recipe Name</label>
    <InputText id="name" class="form-control" @bind-Value="CurrentValue" />
</div>

@code {
    protected override bool TryParseValueFromString(string? value, out string result, out string? validationErrorMessage)
    {
        result = value ?? "";
        validationErrorMessage = null;
        return true;
    }
}