<div mb-3>
        <label class="form-label">Recipe Image</label>
        <div class="border border-primary border-2 rounded d-flex flex-column align-items-center justify-content-center p-4 text-center"
            style="border-style: dashed;">
            <i class="bi bi-cloud-upload fs-1 mb-2"></i>
            <p class="text-muted mb-3">Drag & drop an image here, or click to select</p>
            <InputFile class="btn btn-primary" OnChange="HandleFileSelected" />
        </div>
</div>



@code {
    [Parameter] public EventCallback<IBrowserFile> OnFileSelected { get; set; }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        await OnFileSelected.InvokeAsync(e.File);
    }
}