<div class="mb-3">
    <label for="name" class="form-label">Recipe Name</label>
    <InputText id="name" class="form-control" @bind-Value="@recipeName" />
</div>

@code {
    [Parameter]
    public string recipeName { get; set; } = string.Empty;
}