<div class="d-flex justify-content-between p-2">
    <i class="bi bi-clock-fill">@PrepTime</i>
    <div class="d-flex">
        <span><a href="/recipes/@RecipeId"><i class="bi bi-eye-fill"></i></a></span>
        <span><a href="/recipes-edit/@RecipeId"><i class="bi bi-pencil-square" style="color:green;"></i></a></span>
        <span><a href="/recipes-delete/@RecipeId"><i class="bi bi-trash2-fill" style="color:red;"></i></a></span>
    </div>
</div>

@code {
    [Parameter]
    public string PrepTime { get; set; } = string.Empty;
    [Parameter]
    public int RecipeId { get; set; }
}