@inherits InputBase<string>
<div class="mb-3">
    <label for="ingredients" class="form-label">Ingredients</label>
    <InputTextArea id="ingredients" class="form-control" rows="5" @bind-Value="CurrentValue" />
</div>

@code {
    protected override bool TryParseValueFromString(string? value, out string result, out string? validationErrorMessage)
    {
        result = value ?? "";
        validationErrorMessage = null;
        return true;
    }
}