@inherits InputBase<int>
<div class="mb-3">
    <label for="category" class="form-label">Recipe Category</label>
    <InputSelect id="category" class="form-select" @bind-Value="CurrentValue">
        @if (Categories != null)
        {
            <option value="">Select a category</option>
            @foreach (var category in @Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public List<Category>? Categories { get; set; }
    protected override bool TryParseValueFromString(string? value, out int result, out string? validationErrorMessage)
    {
        if (int.TryParse(value, out result))
        {
            validationErrorMessage = null;
            return true;
        }
        else
        {
            result = 0;
            validationErrorMessage = "Please enter a valid integer.";
            return false;
        }
    }
}